* {
  margin: 0;
}

body {
  background-color: rgb(34, 67, 117);
}
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
  justify-content: center;
}

.background {
  transform: translateZ(-10px) scale(2);
}
.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.foreground {
  height: 1200px;
  width: 1200px;
  right: 0px;
  bottom: -150px;
}

h1 {
  color: #fff;
  font-size: 15rem;
  text-shadow: 0px 0px 20px rgb(0, 255, 221);
  font-family: fantasy;
  text-align: center;
}

.content p {
  font-size: 3rem;
  background-color: rgb(34, 67, 117);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-align: center;
  padding: 5rem;
  line-height: 5rem;
}
